body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

.header {
    color: white;
    background-image: "./resources/images/the-flatiron-building.jpg";
}

p {
    \ont-size: 12px;
}

a {
    font-size: 18px;
    color: white;
}

.footer {
    color: white;

    background-color: dimgray;
}
 .copyright {
       font-size: 11px;
 }
